@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body{
  display: flex;
  background-color: hsl(216, 12%, 8%);
  max-width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}


@media screen and (min-width: 400px) {
  .main-container {
    max-width: 100%;
    max-height: 100vh;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .rating{
    padding: 2rem 1.5rem;
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .rating span {
  background-color: rgb(44, 58, 80);
  border-radius: 50px;
  padding: .6rem .7rem;
  }
  
  .rating img {
    width: 5%;
  }
  
  .rating h2 {
    color: hsl(0, 0%, 100%);
    letter-spacing: 1px;
    margin: 2rem 0 1rem;
  }
  
  .rating p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    line-height: 1.5;
  }
  
  .score-numbers {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
  }
  
  .score-numbers button {
    width: 100%;
    background-color: rgb(44, 58, 80);
    font-family: 'Roboto', sans-serif;
    color: hsl(217, 12%, 63%);
    border-radius: 100%;
    border: none;
    padding: 1rem 1.2rem;
    font-size: .7rem;
    
  }
  
  .btn-rating:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }
  
  .btn-rating:focus {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
  }
  
  .btn-submit {
    width: 100%;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    padding: .7rem;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: hsl(0, 0%, 100%);
    transition: 1s all;
    color:hsl(25, 97%, 53%) ;
  }
  
  /* ################# */
  
  
  .thank-you-message {
    text-align: center;
    padding: 2rem 1rem;
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
  }
  
  .score {
    background-color: rgb(44, 58, 80);
    color: hsl(25, 97%, 53%);
    padding: .3rem 1rem;
    margin: 2rem;
    border-radius: 15px;
  
  }
  
  .thank-you-message h2 {
    color: hsl(0, 0%, 100%);
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }
  
  .thank-you-message p {
    text-align: center;
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    line-height: 1.5;
  }
  
  .hidden {
    display: none;
  }
}


@media screen and (min-width: 31.25rem) {

  .main-container {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
}
